name: Lint Code Base
"on":
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false }}
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Lint
        uses: oxsecurity/megalinter/flavors/ci_light@62c799d895af9bcbca5eacfebca29d527f125a57 # v9.1.0
        # see https://megalinter.io/flavors/
        # See https://megalinter.io/configuration/ for all available configurations
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          APPLY_FIXES: none
          LOG_LEVEL: INFO
          PRINT_ALPACA: false
          ENABLE: REPOSITORY
          ENABLE_LINTERS: BASH_SHELLCHECK,YAML_YAMLLINT,DOCKERFILE_HADOLINT

      - name: Upload reports
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
